{% extends "base.html" %}
{% block content %}

<div class=" m-10 h-5/12 bg-teal-800 rounded-xl shadow-lg p-6 ">
  <div class="flex items-center justify-center">
    <h4 class="font-bold text-white text-4xl underline">Book an appointment with us</h4></div>

  <div class="mt-10">
    <div class="calendly-inline-widget" data-url="https://calendly.com/douglas-luzinda/professional-medical-consultation" style="min-width:320px;height:630px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </div>
     <!-- Calendly Embed End -->
   </div>
</div>


  {% endblock %}