<!-- thanks.html -->
{% extends "base.html" %}
{% block title %}Thank You!{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-2xl w-full bg-white p-10 rounded-3xl shadow-lg text-center">
    {% if status==200 %}
      <h1 class="text-4xl font-bold text-green-700 mb-4">{{ status }}</h1>
      <p class="text-lg text-gray-700 mb-4">
        Thank you, {{ FirstName }} {{ LastName }}, for your generous donation of {{ Amount }} {{ currency }}.
      </p>
    {% elif error %}
      <h1 class="text-4xl font-bold text-red-700 mb-4">Payment Verification Failed</h1>
      <p class="text-lg text-gray-700 mb-4">
        {{ error }}
      </p>
    {% else %}
      <h1 class="text-4xl font-bold text-yellow-700 mb-4">Payment Pending</h1>
      <p class="text-lg text-gray-700 mb-4">
        Your payment is currently pending verification. Please wait a moment.
      </p>
    {% endif %}
    <a href="/" class="btn btn-success btn-wide shadow-lg hover:scale-105 transition">Return Home</a>
  </div>
</div>


{% if not status and not error %}
<script>
  const orderTrackingId = "{{ request.GET.OrderTrackingId }}";
  const merchantReference = "{{ request.GET.OrderMerchantReference }}";

  function checkPaymentStatus() {
    fetch(`/check-payment-status/?OrderTrackingId=${orderTrackingId}&OrderMerchantReference=${merchantReference}`)
      .then(response => response.json())
      .then(data => {
        if (data.status === "COMPLETED") {
          // Reload the page to display the updated status
          location.reload();
        }
      })
      .catch(error => {
        console.error('Error checking payment status:', error);
      });
  }

  // Check payment status every 10 seconds
  setInterval(checkPaymentStatus, 10000);
</script>
{% endif %}



{% endblock %}
